<div class="container-fluid">
  <div class="row nopadding">
    <div class="col-lg-12 nopadding">

      <!-- <div class="top"> -->
      <nav>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                  </ul>
                </div> -->

        <div class="row login-bar">
          <!-- <div class="col-sm-6 about">
              <div routerLink="/about" class="button-yellow">
                ABOUT
              </div>
  
            </div> -->
          <div class="col-sm-12">
            <div class="login">
              <span *ngIf="authService.isLoggedIn()">

                {{authService.userDetails.displayName}}
                <img style="margin-left: 5px" class="profile-picture" src="{{authService.userDetails.photoURL}}">


                <span (click)="logout()">
                  <a href="#"><img style="margin-left: 8px" height="30px"
                      src="../../../assets/ic_exit_to_app_white_48px.svg"></a>
                </span>
              </span>
              <span *ngIf="!authService.isLoggedIn()">


                <span (click)="authService.signInWithGoogle()">
                  <a href="#">
                    <div class="button-google"></div>
                  </a>


                  <!-- <img class="button-google" height="40px" src="../../../assets/google-btn/2x/btn_google_signin_light_normal_web@2x.png"> -->


                </span>
                <!-- <span (click)="authService.signInWithFacebook()">
                  <a href="#"><div class="button-facebook"></div></a>
                </span> -->

                <!-- or
                      <button (click)="authService.signInWithFacebook()" id="googleBtn">Facebook</button> -->
              </span>
            </div>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-12">
          <div class="header">
            <a href="#" class="heading">
              <img class="header-img" src="../../../assets/pill.png"> junkies </a>

            <br><br>
            <div class="heading-sub">
              keep track of your tv shows. <a class="about-link" href="#" routerLink="/about">more info.</a>
            </div>
            <br>
            <br>
            <br>
            <div class="search-section">
              <div class="row">
                <div class="col-md-7">
                  <input autofocus placeholder="search for a show" class="search search-text" (input)="onInputChange()"
                    type="text" [(ngModel)]="searchInput">
                  <br>
                  <span class="down-show">name</span>
                </div>
                <div class="col-md-1 search-number-div season-div">
                  <input class="search search-number" min="1" max="99" type="number" [(ngModel)]="seasonInput">
                  <br>
                  <span class="down-season">season</span>
                </div>
                <div class="col-md-1 search-number-div episode-div">
                  <input class="search search-number" min="1" max="99" type="number" [(ngModel)]="episodeInput">
                  <br>
                  <span class="down-episode">episode</span>
                </div>
                <div class="col-md-1">
                  <!-- <button [disabled]="!selectedSeriesSet" class="button-yellow" (click)="addSeries()">ADD</button> -->
                  <a href="#">
                    <!-- <div *ngIf="selectedSeriesSet" (click)="addSeries()" class="add-button"> <img class="send-button"
                        src="../../../assets/send-button.png"></div> -->
                    <div *ngIf="selectedSeriesSet" (click)="addSeries()" class="add-button">
                      <b>ADD</b> </div>
                  </a>
                </div>
              </div>

              <!-- <button *ngIf="selectedSeriesSet" (click)="addSeries()">add</button> -->
              <br>
              <ul>
                <span *ngFor="let row of dbData; let i = index">
                  <li (click)="selectSeries(row)" *ngIf="i<2">
                    {{ row.original_name }}
                  </li>
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <div class="row">
        <div class="col-lg-12">

          <br>
          <div class="row">
            <div class="col-lg-12 tracked-series">
              <div (mouseenter)="mouseEnter(row)" (mouseleave)="mouseLeave(row)" class="tracked-show"
                *ngFor="let row of trackedSeries; let i = index">
                <div class="input-hover" *ngIf="seriesHovering && row.id == seriesHover['id']">
                  <div class="button-delete" (click)="removeSeries(i)">
                    <img src="../../../assets/ic_clear_white_48px.svg">
                  </div>
                  <br>
                  <br>
                  <div class="row button-input">
                    <div class="col-xs-6 button-input-left">
                      <div (click)="increaseSeason(row)">
                        <img src="../../../assets/ic_keyboard_arrow_up_white_48px.svg">
                      </div>
                      <div class="p-hover">
                        {{seasonInputHover}}
                      </div>
                      <!-- <input min="1" max="99" type="number" (input)="onHoverInputChange(row, true)" [(ngModel)]="seasonInputHover"> -->
                      <div (click)="decreaseSeason(row)">
                        <img src="../../../assets/ic_keyboard_arrow_down_white_48px.svg">
                      </div>
                    </div>
                    <div class="col-xs-6 button-input-right">
                      <div (click)="increaseEpisode(row)">
                        <img src="../../../assets/ic_keyboard_arrow_up_white_48px.svg">
                      </div>
                      <div class="p-hover">
                        {{episodeInputHover}}
                      </div>
                      <!-- <input min="1" max="99" type="number" (input)="onHoverInputChange(row, false)" [(ngModel)]="episodeInputHover"> -->
                      <div (click)="decreaseEpisode(row)">
                        <img src="../../../assets/ic_keyboard_arrow_down_white_48px.svg">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- {{ row.original_name }} S{{ row.seasonsWatched }} E{{ row.episodesWatched }} -->
                <img class="poster" src="https://image.tmdb.org/t/p/w342/{{row.poster_path}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">

              <div class="report-section">

                <!-- <input placeholder="Search for a TV show" class="search" (input)="onInputChange()" type="text" [(ngModel)]="searchInput">
                          <input class="search" min="1" max="99" type="number" [(ngModel)]="seasonInput">
                          <input class="search" min="1" max="99" type="number" [(ngModel)]="episodeInput">
                          <button *ngIf="selectedSeriesSet" (click)="addSeries()">add</button>-->
                <!-- <ul>
                            <span *ngFor="let row of dbData; let i = index">
                              <li (click)="selectSeries(row)" *ngIf="i<2">
                                {{ row.original_name }}
                              </li>
                            </span>
                          </ul> -->
                <p>
                  <span class="report-heading">total watch-time:</span>
                  <br>
                  <span *ngIf="totalMinutes != 0">you have watched for {{convertMinutes()}}</span>
                  <span *ngIf="totalMinutes == 0">it feels empty - add some shows 😎</span>

                </p>
                <span *ngIf="totalMinutes != 0" class="share">SHARE on</span>

                <a *ngIf="totalMinutes != 0" target="_blank"
                  href="https://twitter.com/share?text=According%20to%20this%20website%20I%20have%20wasted%20{{convertMinutes()}}%20of%20my%20life%20watching%20tv%20shows.%20Calculate%20your%20time:&url=https://junkies.io/?ref=twitter"
                  id="button-social-twitter">
                  <img src="../../../assets/twit.png">
                </a>
                <!-- <span class="share">or</span>
                    <a target=_blank href="https://www.linkedin.com/shareArticle?mini=true&url=junkies.io&title=junkies.io &summary=According%20to%20this%20website%20I%20have%20wasted%20%20{{convertMinutes()}}%20of%20my%20life%20watching%20tv%20shows.&source=LinkedIn"
                      class="button-social">
                      <img src="../../../assets/linkedin-logo.png">
                    </a> -->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>