@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Nunito');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
a {
    color: yellow;
}
.about-link:hover {
    text-decoration: underline;
}

.profile-picture {
    height: 40px;
    border-radius: 50%;
}
.button-signout {
    margin-left: 10px;
}
ul {
    list-style-type: none;
    padding: 0
}
li:hover {
    color: yellow;
    cursor:pointer;
}
.heading-sub {
    /* position: relative;
    margin-top: -30px; */
    /* margin: auto; */
    display: inline-block;
    text-align: center;
    font-family: Nunito;
    color: white;
    margin-left: 15px;
    /* width: 100%; */
    /* background-color: white; */
}
.share {
    color: yellow;
}
p, ul {
    color: white;
    font-family: Nunito;
}
input {
    font-family: Nunito;
}
input[type='text'] {
    background-image: url('../../../assets/ic_search_white_48px.svg');
    background-position: left center;
    background-size: 1.5em;
    padding-left: 1.7em;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
}
.heading {
    color: white;
    font-family: Pacifico;
    font-size: 55px;
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}
.login {
    float: right;
    right: 0;
} 
.login-bar {
    height: 50px;
    /* background: linear-gradient(black, transparent);; */
    color: white;
    font-size: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.308);
}
.header-img {
    height: 55px;
}
.header {
    text-align: center;
    /* background-color: green; */
    width: 550px;
    width: 70%;
    margin: auto;
    padding-top: 10px;
}
.button-google {
    background-image: url("../../../assets/google-btn/2x/btn_google_signin_light_normal_web@2x.png");
    height: 40px;
    width: 160px;
    background-repeat: no-repeat;
    background-size:100%;
    float: left;
}
.button-facebook {
    background-image: url("../../../assets/facebook-login-full.png");
    height: 120px;
    width: 195px;
    background-repeat: no-repeat;
    background-size:100%;
    margin-left: 0px;
    margin-top: -17px;
    float: right;
}
.search-section {    
    /* background-color: red; */
    text-align: left;
    width: 600px;
    margin: auto;
    padding-left: 100px;
    position: relative;
    min-height: 150px;
}
.report-section {
    text-align: center;
}
.poster {
    height: 100px;
    width: 133px;
}
.tracked-show {
    position:relative;
    display:inline-block;
}
.report-heading {
    color: yellow;
    font-size: 20px;
}
.p-hover {
    color: white;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-left: 4px;
}
.search-text {
    width: 260px;
}
.search-number {
    width: 60px;
}
.search {
    color: white;
    border: 0;
    border-bottom: 2px solid white;
    /* width: 100%; */
    font-size: 25px;
    line-height: 45px;
    /* height: 70px; */
    /* text-align: center; */
    background: transparent;
}
.tracked-series {
    text-align: center;
}
.input-hover {
    background-color: rgba(0, 0, 0, 0.555);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position:absolute;
    /* margin: 20px; */
    height: 200px;
    width: 133px;
    margin-left: 10px;
    margin-top: 10px;
}
.tracked-show img {
    height: 200px;
    margin: 10px;
}
.button-delete {
    cursor: pointer;
    position: absolute;
    right: 0;
}
.button-delete img:hover {
    transform: scale(1.3);
}
.button-delete img {
    height: 30px;
    width: 30px;
}
.button-input img {
    margin-left: 16px;
    height: 20px;
    width: 20px;
}
.button-input {
    cursor: pointer;
    margin: auto;
    margin-left: 17px;
}
.down-show {
    font-size: 10px;
    color: lightgray;
}
.down-season {
    font-size: 10px;
    color: lightgray;
}
.down-episode {
    font-size: 10px;
    color: lightgray;
}
/* .button-input-left {
    left: 5px;
}
.button-input-right {
    right: 5px;
} */
.top {
    width: 100%;
    height: 280px;
    background-color: grey;
    /* background-image: url("../../../assets/pills.jpg"); */
}
.container-fluid {
    min-height: 100vh;
    background: url("../../../assets/pills.jpg") no-repeat center center fixed;
    background-size:100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* position: fixed; */
    z-index: -10;
    background-attachment: fixed;
    
}


#button-social-twitter {
    text-decoration: none
}

#button-social-twitter img:hover {
    transform: scale(1.3);
}
#button-social-twitter img{
    height: 35px;
    padding: 5px;
}
a {
    text-decoration: none
}
.season-div {
    margin-left: -40px;
}
.episode-div {
    margin-left: 25px;
}

.add-button {
    margin-top: 7px;
    color: white;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid yellow;
    text-align: center;
    padding: 3px;
    width: 50px;
    /* font-size: 25px */
}
.send-button {
    height: 30px;
    /* width: 195px; */
    float:left;
}

@media (max-width:575px) { 
    .add-button {
        margin-left: 0px;
    }
    .season-div {
        margin-left: 0px;
    }
    .episode-div {
        margin-left: 0px;
    }

    .button-google {
        background-image: url("../../../assets/google-btn/vector/btn_google_light_normal_ios.svg");
        height: 40px;
        width: 45px;
        background-repeat: no-repeat;
        background-size:100%;
        float: left;
    }
    .button-facebook {
        background-image: url("../../../assets/facebook-login.png");
        height: 40px;
        width: 39px;
        background-repeat: no-repeat;
        background-size:100%;
        /* margin-left: 50px; */
        margin-top: 2px;
    }
    
    .container-fluid {
        overflow-x: hidden;
        /* background-size: auto 1000px; */
    }
    .heading {
        font-size: 30px;
        /* margin-top: 20px; */
    }
    .header-img {
        height: 30px;
    }

    input[type='text'] {
        background-image: url('../../../assets/ic_search_white_48px.svg');
        background-position: left center;
        background-size: 1.1em;
        padding-left: 1.3em;
        background-repeat: no-repeat;
    }
    .login {
        float: right;
        right: 0;
        /* margin-top: -40px; */
    }

    .search-text {
        /* width: 180px; */
        width: 100%;
    }
    .search-number {
        /* width: 180px; */
        width: 100%;
    }
    .add-button {
        margin-top: 10px;
        /* margin-left: -1030px; */
        text-align: center;
        width: 100%;
    }

    .down-show {
        margin-top: 50px;
        /* float: left; */
        left: 0;
    }
    .down-season {
        margin-top: 50px;
        /* float: left; */
        left: 0;
    }

    .down-episode {
        margin-top: 50px;
        /* float: left; */
        left: 0;
    }
    .search {
        color: white;
        border: 0;
        border-bottom: 2px solid white;
        /* width: 100%; */
        font-size: 17px;
        line-height: 45px;
        /* height: 70px; */
        /* text-align: center; */
        background: transparent;
    }
    .search-section {   
        width: 100%; 
        /* background-color: red; */
        text-align: left;
        margin: auto;
        margin-top: -20px;
        padding-left: 0px;
        position: relative;
        /* min-height: 300px; */
    }
    .header {
        padding-top: 20px;
    }
    .heading-sub {
        margin-left: 0px;
        font-size: 17px;
    }
 }