@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Nunito');

.about-card {
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* margin-top: 30%; */
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    /* min-width: 200px; */
}
a {
    color: yellow;
}

#button-social img:hover {
    transform: scale(1.3);
}
#button-social img{
    height: 30px;
    padding: 5px;
}
#button-social {
    text-decoration: none
}
.button-back {
    margin-top: 40px;
    float: right;
}
.credits {
    font-size: 12px;
}
.about-container {
   
    font-family: Nunito;
    padding-top: 10%;
    min-height: 100vh;
    background: url("../../../assets/pills.jpg") no-repeat center center fixed;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}