/* You can add global styles to this file, and also import other style files */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.button-yellow {
    background: transparent;
    border: 2px solid yellow;
    color: yellow;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}
.button-yellow:hover {
    cursor:pointer;
    border: 2px solid white;
    color: black;
    background-color: white
}